@import "../../../styles/main.scss";

.flag {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  background-color: $color-grey;

  img {
    width: 100%;
    height: 100%;
    box-shadow: $material-shadow-3;
    opacity: 1;
    cursor: pointer;
  }
}
