@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./styles/main.scss";

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  width: 100%;
  background-color: $color-grey;
  color: $color-font-light;
}

.btn {
  display: inline-block;
  border: none;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0;
  text-decoration: none;
  font-family: inherit;
  background-color: $color-primary;
  color: $color-font-light;
  border-radius: 0;
  cursor: pointer;
  box-shadow: $material-shadow-1;
  transition: ease-out all 0.2s;

  &:hover:not(:disabled) {
    background-color: $color-primary-dark;
    color: $color-font-light;
    box-shadow: $material-shadow-3;
    transform: translateY(-1px);
  }

  &:disabled {
    background-color: $color-grey-light;
  }
}
