$color-primary: #ef5350;
$color-primary-light: #ff867c;
$color-primary-dark: #b61827;

$color-secondary: #eeeeee;
$color-secondary-light: #ffffff;
$color-secondary-dark: #bcbcbc;

$color-grey: #212121;
$color-grey-light: #484848;
$color-grey-dark: #000000;

$color-light: #f4f4f4;
$color-white: #fafafa;

$color-font-light: #ffffff;
$color-font-dark: #000000;

$color-black: #000000;
