@import "../../styles/main.scss";

$actions-height: 3rem;

.game {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    text-align: center;
    color: $color-font-light;

    @include respond(phone) {
      font-size: 26px;
    }
  }

  &__timer {
    width: $width-container;
    overflow: hidden;
    height: 8px;
    margin: 0 auto;
    background-color: $color-secondary-light;
    box-shadow: $material-shadow-3;

    @include respond(phone) {
      width: 90%;
    }
  }

  &__time-left {
    background-color: $color-primary-dark;
    height: 100%;
    text-align: center;
    transition: all 1s ease-out;
  }

  &__flags {
    flex: 1;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      width: 180px;
    }

    @include respond(phone-land) {
      width: 320px;
    }
  }

  &__actions {
    width: $width-container;
    margin: 0 auto;
    margin-bottom: 1rem;
    height: $actions-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      margin-bottom: 10px;
    }
  }

  &__points {
    height: 100%;
    width: 3rem;
    border-radius: 50%;
    background-color: $color-primary;
    line-height: 3rem;
    text-align: center;
  }
}

#flags {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  text-align: center;
  grid-gap: 25px;
  animation: show 0.3s;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
  }

  @include respond(phone-land) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 70px;
  }
}

.count-down {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.results {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  display: none;
}
