@import "../../styles/main.scss";

.home {
  height: calc(100vh - #{$height-footer});
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include respond(phone) {
    flex-direction: column;
  }

  &__level {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    position: relative;
    cursor: pointer;
    text-shadow: $material-shadow-5;
    color: $color-secondary;
    transition: opacity 0.2s ease-out;

    &--easy {
      background: url("../../images/level-easy.jpg");
      background-size: cover;
      background-position: center;
    }
    &--medium {
      background: url("../../images/level-medium.jpg");
      background-size: cover;
      background-position: center;
    }
    &--hard {
      background: url("../../images/level-hard.jpg");
      background-size: cover;
      background-position: center;
    }

    h1 {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      color: $color-secondary-light;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}
