@import "../../../styles/main.scss";

.results-body {
  color: $color-grey;

  &__header {
    color: $color-grey;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .form-group {
      padding: 0;
      margin: 0;

      input {
        border-radius: 0;
      }
    }
  }

  table {
    margin: 1rem 0;
    width: 100%;
    color: $color-grey;
  }
}
