@import "../../styles/main.scss";

.footer {
  height: $height-footer;
  width: 100%;
  background-color: $color-grey-light;

  &__container {
    width: $width-container;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
